{% include 'layout.html' %}
<body style="background-image: url('images/background.jpg');"></body>
<!--<img src="{{image_url}}" alt="image">-->
<div class="container mt-5">
    <!--<img src="../images/background.JPG" alt="image">-->
    <div id="chatbot-container">
    <div id="chatbot-window">
      <div id="chatbot-header">Chatbot</div>
      <div id="chatHistory">
        {% for response in chat_responses %}
          <div class="{{'chat-message user-input' if loop.index0 is even else 'chat-message ai-response'}}">
           {{response}}
          </div>
        {% endfor %}
      </div>

      <input class="form-control" placeholder="Add input here" id="chatbot-input">
    </div>

    <button id="chatbot-toggle">💬</button>
  </div>

  </div>
</div>

<script>
  var websocketString = '';
  /*
  if (window.location.hostname === '127.0.0.1'){
    websocketString = "ws://localhost:8000/ws";
  } else {
    websocketString = `wss://${window.location.hostname}/ws`
  }
  */
  const wsProtocol = window.location.protocol === 'https:'
  ? 'wss'
  : 'ws';
  websocketString = `${wsProtocol}://${window.location.host}/ws`;
  var ws = new WebSocket(websocketString);
  var chatHistory =  document.getElementById("chatHistory");
  var lastUserMessageDiv = null; // keep track of the last uer message div
  var isNewUserInput = true; // Flag to track when a new user input happens
  const toggle = document.getElementById("chatbot-toggle");
  const windowChat = document.getElementById("chatbot-window");
  const userInput = document.getElementById("chatbot-input");

  let buffer = "";

  ws.onmessage = function(event) {

      const token = event.data;

      buffer += token;

      // afficher seulement quand on a un espace ou ponctuation
      if (/[ .,!?;:]/.test(token.slice(-1))) {

          if (lastUserMessageDiv && !isNewUserInput) {

              lastUserMessageDiv.textContent += buffer;

          } else {

              const messageDiv = document.createElement("div");
              messageDiv.className = "chat-message ai-reponse";

              messageDiv.textContent = buffer;

              chatHistory.appendChild(messageDiv);
              lastUserMessageDiv = messageDiv;
              isNewUserInput = false;
          }

          buffer = "";
      }
  };

  sendMessage = function(){
    var message = userInput.value.trim();
    if (message) {
      var userInputDiv = document.createElement("div");
      userInputDiv.className = "chat-message user-input"; //use user-input class
      userInputDiv.textContent = message;
      chatHistory.appendChild(userInputDiv);
      chatHistory.scrollTop = chatHistory.scrollHeight;
      ws.send(message);
      userInput.value = ""; // Clear input filed after sending
      isNewUserInput = true; // set the flag as it's a new user input
      lastUserMessageDiv = null; // prepare for the next message
    }
    };


    toggle.onclick = () => {
      if (windowChat.style.display === "flex") {
        windowChat.style.display = "none";
      } else {
        windowChat.style.display = "flex";
      }
    };
    userInput.addEventListener("keydown", function(e){
    if(e.key === "Enter"){
      e.preventDefault();
      sendMessage();
    }
  });

</script>