{% include 'layout.html' %}
<h1>
Domaine de Costeplane
</h1>
<h2>
  dans l'Aveyron
</h2>
<div class="container mt-2">
     <div id="chatbot-container">
        <div id="chatbot-window">
          <div id="chatbot-header">Chatbot prompt +manual

          </div>
          <div id="chat-history">
            {% for response in chat_responses %}
              <div class="{{'chat-message user-input' if loop.index0 is even else 'chat-message ai-response'}}">
               {{response}}
              </div>
            {% endfor %}
            <div id="bottom"></div>
          </div>
          <div id="chatbot-footer">
              <input class="form-control" placeholder="Add input here" id="chatbot-input">
          </div>
        </div>
        <button id="chatbot-toggle">💬</button>
    </div>
</div>

<script>
  var websocketString = '';

  const wsProtocol = window.location.protocol === 'https:'
  ? 'wss'
  : 'ws';
  websocketString = `${wsProtocol}://${window.location.host}/ws`;
  var ws = new WebSocket(websocketString);
  var chatHistory =  document.getElementById("chat-history");
  var lastUserMessageDiv = null; // keep track of the last uer message div
  var isNewUserInput = true; // Flag to track when a new user input happens
  const toggle = document.getElementById("chatbot-toggle");
  const windowChat = document.getElementById("chatbot-window");
  const userInput = document.getElementById("chatbot-input");

  let buffer = "";

  ws.onmessage = function(event) {
      console.log(typeof event.data)
      const token = event.data;
      buffer += token;

      // afficher seulement quand on a un espace ou ponctuation
      if (/[ .,!?;:]/.test(token.slice(-1))) {

          if (lastUserMessageDiv && !isNewUserInput) {

              lastUserMessageDiv.textContent += buffer;

          } else {

              const messageDiv = document.createElement("div");
              messageDiv.className = "chat-message ai-response";

              messageDiv.textContent = buffer;

              //chatHistory.appendChild(messageDiv);
              chatHistory.insertBefore(messageDiv, bottom);
              //chatHistory.scrollTop = chatHistory.scrollHeight;
              document.getElementById("bottom").scrollIntoView({behavior:"smooth"});
              lastUserMessageDiv = messageDiv;
              isNewUserInput = false;
                  // se positionner sur la question utilisateur

              //smartScroll();
              //document.getElementById("bottom").scrollIntoView({behavior:"smooth"});
              //scrollToBottom();
          }
          buffer = "";
      }
  };

  sendMessage = function(){
    var message = userInput.value.trim();
    if (message) {
      var userInputDiv = document.createElement("div");
      userInputDiv.className = "chat-message user-input"; //use user-input class
      userInputDiv.textContent = message;
      chatHistory.appendChild(userInputDiv);
      chatHistory.insertBefore(userInputDiv, bottom);
      chatHistory.scrollTop = chatHistory.scrollHeight;
      document.getElementById("bottom").scrollIntoView({behavior:"smooth"});
      ws.send(message);

      userInput.value = ""; // Clear input filed after sending
      isNewUserInput = true; // set the flag as it's a new user input
      lastUserMessageDiv = null; // prepare for the next message
      scrollToBottom();
      smartScroll();
      document.getElementById("bottom").scrollIntoView({behavior:"smooth", block: "start"});

    }
    };

    toggle.onclick = () => {
      if (windowChat.style.display === "flex") {
        windowChat.style.display = "none";
      } else {
        windowChat.style.display = "flex";
      }
    };
    userInput.addEventListener("keydown", function(e){
        if(e.key === "Enter"){
          e.preventDefault();
          sendMessage();
        }
    });

    function isUserAtBottom() {
      return chatHistory.scrollHeight - chatHistory.scrollTop - chatHistory.clientHeight < 50;
    }
    function smartScroll() {
      if (isUserAtBottom()) {
        requestAnimationFrame(() => {
          chatHistory.scrollTop = chatHistory.scrollHeight;
        });
      }
      }
    function scrollToBottom(){
         document.getElementById("bottom").scrollIntoView({behavior: "smooth"});
    }

</script>